body {
    background-image: url("../images/bg.jpg");
    padding-top: 70px;
}

.deleteNote {
	display: inline-block;
}

.previousNotes {
    display: inline-block;
    width: 85%
}

#scrape {
    margin: 8px 0px;
}